.tabulator-headers {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.tabulator-header {
  border-bottom: 1px solid #e6ddff !important;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable {
  background-color: #fff;
}

.tabulator-col-title {
  text-align: center;
  padding-left: 25px;
}

.tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-col-sorter
  .tabulator-arrow {
  border-bottom: 6px solid #e6ddff !important;
  color: #e6ddff !important;
}

.tabulator {
  border: 1px solid #e6ddff !important;
  border-radius: 10px;
  background-color: none !important;
}

.tabulator-row .tabulator-cell {
  border-right: 1px solid #e6ddff !important;
}
.tabulator-row .tabulator-cell:last-child {
  border-right: none !important;
}

.tabulator .tabulator-header .tabulator-col {
  border-right: 1px solid #e6ddff !important;
}

.tabulator .tabulator-header .tabulator-col:last-child {
  border-right: none !important;
}
