.tabulator-headers {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable {
  background-color: #fff;
}

.tabulator-col-title {
  text-align: center;
  padding-left: 25px;
}

.tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-col-sorter
  .tabulator-arrow {
  border-bottom: 6px solid #e6ddff !important;
  color: #e6ddff !important;
}
